In [1]:
import camelot
import pandas as pd
import numpy as np
import re
import copy

In [2]:
table = camelot.read_pdf('splitpdfs/p01.pdf',process_background=True,copy_text=['h'])

In [3]:
df = table[0].df
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,TIME/ 8:00-9:00 9:00-10:00 10:00-11:00 11:00-1...,Lunch,Lunch,Lunch,Lunch
1,Monday,FE,FE,FE,FE,FC006,FC007,ITC01,,ITC03,,
2,TUESDAY,,,ITC02,ITC04,ITC04,ITC03(T1),Lunch,ITC02(FH) ITC01(SH),ITC02(FH) ITC01(SH),,
3,WEDNESDAY,,FC006,ITC02(SH) ITC01(FH),ITC02(SH) ITC01(FH),ITC02(SH) ITC01(FH),ITC03,Lunch,ITC03 Lunch ITC02,ITC01,Free slot for seminars/ meetings etc.,Free slot for seminars/ meetings etc.
4,THURSDAY,FE,FE,ITC04,ITC04,ITC02,ITC04(T1) ITC04(T2) FC006(T2) FC006(T1),ITC04(T1) ITC04(T2) FC006(T2) FC006(T1),,FC006,,
5,FRIDAY,FE,FE,ITC01,ITC01,FC007,Lunch,ITC03(T2),,ITC04,,

In [4]:
out = df.values.tolist()

In [5]:
out2 = out[1:]

In [6]:
df2 = pd.DataFrame(out2)

In [7]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11
0,Monday,FE,FE,FE,FE,FC006,FC007,ITC01,,ITC03,,
1,TUESDAY,,,ITC02,ITC04,ITC04,ITC03(T1),Lunch,ITC02(FH) ITC01(SH),ITC02(FH) ITC01(SH),,
2,WEDNESDAY,,FC006,ITC02(SH) ITC01(FH),ITC02(SH) ITC01(FH),ITC02(SH) ITC01(FH),ITC03,Lunch,ITC03 Lunch ITC02,ITC01,Free slot for seminars/ meetings etc.,Free slot for seminars/ meetings etc.
3,THURSDAY,FE,FE,ITC04,ITC04,ITC02,ITC04(T1) ITC04(T2) FC006(T2) FC006(T1),ITC04(T1) ITC04(T2) FC006(T2) FC006(T1),,FC006,,
4,FRIDAY,FE,FE,ITC01,ITC01,FC007,Lunch,ITC03(T2),,ITC04,,

In [8]:
out3 = df2.values.tolist()

In [9]:
out3

[['Monday',
  'FE',
  'FE',
  'FE',
  'FE',
  'FC006',
  'FC007',
  'ITC01',
  '',
  'ITC03',
  '',
  ''],
 ['TUESDAY',
  '',
  '',
  'ITC02',
  'ITC04',
  'ITC04',
  'ITC03(T1)',
  'Lunch',
  'ITC02(FH) ITC01(SH)',
  'ITC02(FH) ITC01(SH)',
  '',
  ''],
 ['WEDNESDAY',
  '',
  'FC006',
  'ITC02(SH) ITC01(FH)',
  'ITC02(SH) ITC01(FH)',
  'ITC02(SH) ITC01(FH)',
  'ITC03',
  'Lunch',
  'ITC03 Lunch ITC02',
  'ITC01',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['THURSDAY',
  'FE',
  'FE',
  'ITC04',
  'ITC04',
  'ITC02',
  'ITC04(T1) ITC04(T2) FC006(T2) FC006(T1)',
  'ITC04(T1) ITC04(T2) FC006(T2) FC006(T1)',
  '',
  'FC006',
  '',
  ''],
 ['FRIDAY',
  'FE',
  'FE',
  'ITC01',
  'ITC01',
  'FC007',
  'Lunch',
  'ITC03(T2)',
  '',
  'ITC04',
  '',
  '']]

In [10]:
for i in range(len(out3)):
    out3[i] = out3[i][1:]

In [11]:
out3

[['FE', 'FE', 'FE', 'FE', 'FC006', 'FC007', 'ITC01', '', 'ITC03', '', ''],
 ['',
  '',
  'ITC02',
  'ITC04',
  'ITC04',
  'ITC03(T1)',
  'Lunch',
  'ITC02(FH) ITC01(SH)',
  'ITC02(FH) ITC01(SH)',
  '',
  ''],
 ['',
  'FC006',
  'ITC02(SH) ITC01(FH)',
  'ITC02(SH) ITC01(FH)',
  'ITC02(SH) ITC01(FH)',
  'ITC03',
  'Lunch',
  'ITC03 Lunch ITC02',
  'ITC01',
  'Free slot for seminars/ meetings etc.',
  'Free slot for seminars/ meetings etc.'],
 ['FE',
  'FE',
  'ITC04',
  'ITC04',
  'ITC02',
  'ITC04(T1) ITC04(T2) FC006(T2) FC006(T1)',
  'ITC04(T1) ITC04(T2) FC006(T2) FC006(T1)',
  '',
  'FC006',
  '',
  ''],
 ['FE',
  'FE',
  'ITC01',
  'ITC01',
  'FC007',
  'Lunch',
  'ITC03(T2)',
  '',
  'ITC04',
  '',
  '']]

In [12]:
for i in range(len(out3)):
    for j in range(len(out3[i])):
        current = out3[i][j].replace(' ','/')
        #print(len(current))
        #print(current)
        aux = ''
        prev = ''
        for k in range(len(current)):
            if prev=='/' and current[k]=='/':
                continue;
            else:
                aux += current[k]
            prev = current[k]
        print(aux)
        out3[i][j] = aux.split('/')
        #print(current.split('/'))

FE
FE
FE
FE
FC006
FC007
ITC01

ITC03




ITC02
ITC04
ITC04
ITC03(T1)
Lunch
ITC02(FH)/ITC01(SH)
ITC02(FH)/ITC01(SH)



FC006
ITC02(SH)/ITC01(FH)
ITC02(SH)/ITC01(FH)
ITC02(SH)/ITC01(FH)
ITC03
Lunch
ITC03/Lunch/ITC02
ITC01
Free/slot/for/seminars/meetings/etc.
Free/slot/for/seminars/meetings/etc.
FE
FE
ITC04
ITC04
ITC02
ITC04(T1)/ITC04(T2)/FC006(T2)/FC006(T1)
ITC04(T1)/ITC04(T2)/FC006(T2)/FC006(T1)

FC006


FE
FE
ITC01
ITC01
FC007
Lunch
ITC03(T2)

ITC04

In [13]:
out3

[[['FE'],
  ['FE'],
  ['FE'],
  ['FE'],
  ['FC006'],
  ['FC007'],
  ['ITC01'],
  [''],
  ['ITC03'],
  [''],
  ['']],
 [[''],
  [''],
  ['ITC02'],
  ['ITC04'],
  ['ITC04'],
  ['ITC03(T1)'],
  ['Lunch'],
  ['ITC02(FH)', 'ITC01(SH)'],
  ['ITC02(FH)', 'ITC01(SH)'],
  [''],
  ['']],
 [[''],
  ['FC006'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC03'],
  ['Lunch'],
  ['ITC03', 'Lunch', 'ITC02'],
  ['ITC01'],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.'],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.']],
 [['FE'],
  ['FE'],
  ['ITC04'],
  ['ITC04'],
  ['ITC02'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  [''],
  ['FC006'],
  [''],
  ['']],
 [['FE'],
  ['FE'],
  ['ITC01'],
  ['ITC01'],
  ['FC007'],
  ['Lunch'],
  ['ITC03(T2)'],
  [''],
  ['ITC04'],
  [''],
  ['']]]

In [14]:
out3[2][9] = ['']
out3[2][8] = ['']

In [15]:
out3

[[['FE'],
  ['FE'],
  ['FE'],
  ['FE'],
  ['FC006'],
  ['FC007'],
  ['ITC01'],
  [''],
  ['ITC03'],
  [''],
  ['']],
 [[''],
  [''],
  ['ITC02'],
  ['ITC04'],
  ['ITC04'],
  ['ITC03(T1)'],
  ['Lunch'],
  ['ITC02(FH)', 'ITC01(SH)'],
  ['ITC02(FH)', 'ITC01(SH)'],
  [''],
  ['']],
 [[''],
  ['FC006'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC03'],
  ['Lunch'],
  ['ITC03', 'Lunch', 'ITC02'],
  [''],
  [''],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.']],
 [['FE'],
  ['FE'],
  ['ITC04'],
  ['ITC04'],
  ['ITC02'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  [''],
  ['FC006'],
  [''],
  ['']],
 [['FE'],
  ['FE'],
  ['ITC01'],
  ['ITC01'],
  ['FC007'],
  ['Lunch'],
  ['ITC03(T2)'],
  [''],
  ['ITC04'],
  [''],
  ['']]]

In [16]:
out4 = copy.deepcopy(out3)
out4

[[['FE'],
  ['FE'],
  ['FE'],
  ['FE'],
  ['FC006'],
  ['FC007'],
  ['ITC01'],
  [''],
  ['ITC03'],
  [''],
  ['']],
 [[''],
  [''],
  ['ITC02'],
  ['ITC04'],
  ['ITC04'],
  ['ITC03(T1)'],
  ['Lunch'],
  ['ITC02(FH)', 'ITC01(SH)'],
  ['ITC02(FH)', 'ITC01(SH)'],
  [''],
  ['']],
 [[''],
  ['FC006'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC02(SH)', 'ITC01(FH)'],
  ['ITC03'],
  ['Lunch'],
  ['ITC03', 'Lunch', 'ITC02'],
  [''],
  [''],
  ['Free', 'slot', 'for', 'seminars', 'meetings', 'etc.']],
 [['FE'],
  ['FE'],
  ['ITC04'],
  ['ITC04'],
  ['ITC02'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  ['ITC04(T1)', 'ITC04(T2)', 'FC006(T2)', 'FC006(T1)'],
  [''],
  ['FC006'],
  [''],
  ['']],
 [['FE'],
  ['FE'],
  ['ITC01'],
  ['ITC01'],
  ['FC007'],
  ['Lunch'],
  ['ITC03(T2)'],
  [''],
  ['ITC04'],
  [''],
  ['']]]

In [18]:
out5 = copy.deepcopy(out4)

In [19]:
for i in range(len(out5)):
    for j in range(len(out5[i])):
        new_list = []
        for k in range(len(out5[i][j])):
            print(out5[i][j][k])
            if 'SH' not in out5[i][j][k] and 'T2' not in out5[i][j][k]:
                new_list.append(out5[i][j][k])
            
        out5[i][j] = new_list

FE
FE
FE
FE
FC006
FC007
ITC01

ITC03




ITC02
ITC04
ITC04
ITC03(T1)
Lunch
ITC02(FH)
ITC01(SH)
ITC02(FH)
ITC01(SH)



FC006
ITC02(SH)
ITC01(FH)
ITC02(SH)
ITC01(FH)
ITC02(SH)
ITC01(FH)
ITC03
Lunch
ITC03
Lunch
ITC02


Free
slot
for
seminars
meetings
etc.
FE
FE
ITC04
ITC04
ITC02
ITC04(T1)
ITC04(T2)
FC006(T2)
FC006(T1)
ITC04(T1)
ITC04(T2)
FC006(T2)
FC006(T1)

FC006


FE
FE
ITC01
ITC01
FC007
Lunch
ITC03(T2)

ITC04

In [20]:
df4 = pd.DataFrame(out5)

In [21]:
df4

,0,1,2,3,4,5,6,7,8,9,10
0,[FE],[FE],[FE],[FE],[FC006],[FC007],[ITC01],[],[ITC03],[],[]
1,[],[],[ITC02],[ITC04],[ITC04],[ITC03(T1)],[Lunch],[ITC02(FH)],[ITC02(FH)],[],[]
2,[],[FC006],[ITC01(FH)],[ITC01(FH)],[ITC01(FH)],[ITC03],[Lunch],"[ITC03, Lunch, ITC02]",[],[],"[Free, slot, for, seminars, meetings, etc.]"
3,[FE],[FE],[ITC04],[ITC04],[ITC02],"[ITC04(T1), FC006(T1)]","[ITC04(T1), FC006(T1)]",[],[FC006],[],[]
4,[FE],[FE],[ITC01],[ITC01],[FC007],[Lunch],[],[],[ITC04],[],[]

In [22]:
df4.to_csv('it_sem2.csv', sep=',')